/* components/MarketStockDetails.css */
.market-stock-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 25%; /* Adjust the width as needed */
  }
  
  .profit {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .profit-value {
    color: green; /* Green color to indicate profit */
    font-weight: bold;
  }