/* components/StockHistoryChart.css */
.chart-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chart-container {
  width: 70%; /* Adjust the width as needed */
  margin-left: 0; /* Align the chart to the left */
  padding-left: 20px; /* Optional: Add some padding to the left */
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.button-container button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}