.custom-margin-top-1{
    margin-top: 3rem; /* Adjust the value as needed */
}

.custom-margin-top-2{
    margin-top: 4rem; /* Adjust the value as needed */
}

.custom-margin-top-3{
    margin-top: 5rem; /* Adjust the value as needed */
}