#menu-toggle {
   background-color: transparent;
   border: none;
   font-size: 24px;
   cursor: pointer;
   transition: color 0.3s ease; /* Smooth transition of color */
}

.hamburger-open {
   color: white; /* Color when sidebar is open */
}

.hamburger-closed {
   color: black; /* Color when sidebar is closed */
}

.sidebar-wrapper {
   width: 250px;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   transition: transform 0.3s ease;
   background-color: #001E4F; 
   padding-top: 60px;
   overflow: hidden; 
}

.sidebar-open {
   transform: translateX(0); /* Sidebar fully visible */
}

.sidebar-closed {
   transform: translateX(-250px); /* Sidebar completely hidden */
}
