/* FAQ.css */

/* FAQ container styles */
.faq-container {
    max-width: 1200px; /* Adjusted for wider container */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 auto; /* Centers horizontally */
  }
  
  /* Accordion button styles */
  .accordion-button {
    background-color: #fff;
    border: none;
    padding: 1rem;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .accordion-button:not(.collapsed) {
    color: #007bff;
    background-color: #e9ecef;
  }
  
  /* Accordion body styles */
  .accordion-body {
    padding: 1rem;
    background-color: #f8f9fa;
    font-size: 14px;
  }

  .accordion-item {
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .faq-container {
      padding: 10px;
      width: 100%;
    }
  }
  