.faq-container {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 0;
   margin: 0;
   background: radial-gradient(circle, #7b7865, #444f66, #000f29);
   min-height: 100vh;
   animation: bouncyMovement 20s infinite;
 }
 
 .faq-header {
   margin-bottom: 30px;
   text-align: center;
 }
 
 .faq-title {
   font-weight: bold;
 }
 
 .faq-search-bar {
   max-width: 1000px;
   margin: 0 auto;
   margin-top: 20px;
 }
 
 .faq-accordion {
   margin-top: 10px;
   border-radius: 8px;
   background-color: #ffffff;
 }
 
 .faq-answer {
   padding-top: 10px;
 }
 
 .faq-meta {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   font-style: italic;
 }
 
 .faq-search-bar-input {
   background-color: white;
   padding: 6px;
   font-size: 1rem;
   border-radius: 8px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 }
 
 @keyframes bouncyMovement {
   0%, 100% { background-position: 0% 0%; }
   50% { background-position: 100% 100%; }
 }
 
 .pagination {
   margin-top: 30px;
 }
 